<?xml version="1.0"?>

<!--Disable html caching-->
<configuration>
	<system.webServer>
		<caching>
			<profiles>
				<remove extension="html" />
				<add extension="html" policy="DontCache" location="Any" />
			</profiles>
		</caching>
		<staticContent>
			<clientCache cacheControlMode="DisableCache" />
		</staticContent>
	</system.webServer>
</configuration>

