<div class="list-group" style="margin-bottom:0;">
	<a ng-href="" ng-click="Select(item)" class="list-group-item" ng-class="{'active' : item == model.model.message}" ng-repeat="item in model.model.messages | filter:messageFilter">
		<div class="pull-right">
			<div>{{item.howLongAgo}}</div>
		</div>
		<div>
			<i ng-if="item.severity=='Error'" class="fa fa-fw fa-lg fa-bug"></i>
			<i ng-if="item.severity=='Information'" class="fa fa-fw fa-lg fa-info-circle"></i>
			<i class="fa fa-fw fa-lg fa-{{item.messageType.icon}}" style="color:{{item.messageType.color}}"></i><strong>{{item.messageType.name}}</strong>
		</div>
		<div>{{item.title}}</div>
	</a>
	<div style="clear:both;"></div>
</div>