<div ng-if="context.model!=null">

    <div class="row" ng-if="context.model.site==null">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div style="margin-top:100px;">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{{context.model.name}}.elmah.net</h2>
                    </div>
                    <div class="panel-body">

                        <form class="form-horizontal">

                            <!--<div class="form-group">
                                <div class="col-lg-12">
                                    <label>Log Site</label>
                                </div>
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="name" aria-describedby="basic-addon2" style="text-align:right;" ng-model="context.model.name" />
                                        <span class="input-group-addon" id="basic-addon2"><span>.elmah.net</span></span>
                                    </div>
                                </div>
                            </div>-->

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label>Name</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="First" aria-describedby="basic-addon2" ng-model="context.model.person.firstName" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Last" aria-describedby="basic-addon2" ng-model="context.model.person.lastName" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label>Emial</label>
                                </div>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="email" aria-describedby="basic-addon2" ng-model="context.model.person.email" />
                                </div>
                            </div>

                            <input type="button" class="btn btn-lg btn-success" value="Create Logging Site" ng-click="Create()" />
                        </form>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-4">
        </div>
    </div>

    <div class="row" ng-if="context.model.site!=null">
        <div class="col-lg-2">
            <div log-message-filter data-log='' data-limit="100" data-span="ThirtyDays" data-type="error" data-source="System"></div>
        </div>

		<div class="col-lg-10">
			<div log-message-chart></div>
		</div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/logger/index/Production?severity=Error">Latest Exceptions</a>
                </div>
                <div log-message-list></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div log-message-detail></div>
        </div>
    </div>

</div>